<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.sixlab.app.mineapps">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.ShowActivity"
            android:label="@string/title_activity_show"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sixlab.app.mineapps.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.FilmActivity"
            android:label="@string/title_activity_film"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sixlab.app.mineapps.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.FilmInfoActivity"
            android:label="@string/title_activity_film_info"
            android:parentActivityName=".activity.FilmActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sixlab.app.mineapps.activity.FilmActivity"/>
        </activity>
        <activity
            android:name=".activity.ShowInfoActivity"
            android:label="@string/title_activity_show_info"
            android:parentActivityName=".activity.ShowActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.sixlab.app.mineapps.activity.ShowActivity"/>
        </activity>
    </application>

</manifest>